DJANGO_SETTINGS_MODULE=config.settings
DJANGO_SECRET_KEY='django-insecure-ctdy7jx@yzgq5mvqj^kg41yuaijuiz^l1nd&%i@l1_h2asgwyy'
DJANGO_DEBUG=True
ENVIRONMENT=local

OPENAI_API_KEY="sk-some-key"

POSTGRES_USER=root
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ns-pdp-ctx-mgmt-db
POSTGRES_PORT=5432
POSTGRES_HOST=ns-pdp-ctx-mgmt-db

REDIS_PORT=6380
REDIS_URL=redis://ns-pdp-ctx-mgmt-cache:6379
